@import '../../../styles/variables';
.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: $black, $alpha: 0.8);
    z-index: 2;
    &__container {
        margin-left: auto;
        max-width: 480px;
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
    }
}
