@import './styles/variables';

.container {
    max-width: 1288px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

.pos-relative {
    position: relative;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $white;
    &__wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .loader {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: relative;
            animation: rotate 1s linear infinite;
        }
        .loader::before,
        .loader::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #fff;
            animation: prixClipFix 2s linear infinite;
        }
        .loader::after {
            transform: rotate3d(90, 90, 0, 180deg);
            border-color: #ff3d00;
        }
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes prixClipFix {
        0% {
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
        }
        50% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
        }
        75%,
        100% {
            clip-path: polygon(
                50% 50%,
                0 0,
                100% 0,
                100% 100%,
                100% 100%,
                100% 100%
            );
        }
    }
}

button {
    &[type='submit'] {
        width: 100%;
        padding: 8px;
        border: 0;
        background: $black;
        color: $white;
        font-size: 14px;
        line-height: 24px;
        font-weight: $fnt-600;
        cursor: pointer;
        transition: all 0.3s ease-in;
        border-radius: $border-radius;
        &:hover {
            transition: all 0.3s ease-in;
            background: rgba($color: $black, $alpha: 0.6);
        }
    }
    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
    }
    &.button {
        &__loading {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                border: 4px solid transparent;
                border-top-color: #ffffff;
                border-radius: 50%;
                animation: button-loading-spinner 1s ease infinite;
            }
            .button__text {
                visibility: hidden;
                opacity: 0;
            }
        }
        @keyframes button-loading-spinner {
            from {
                transform: rotate(0turn);
            }

            to {
                transform: rotate(1turn);
            }
        }
    }
}

.el__flex {
    display: flex;
}
